.hero {
    background-color: rgb(105, 150, 248);
    text-align: center;
}

.hero p{
    color:white;
}

#def-container {
    background-color: orangered;
}

#gif-container {
    background-color: palegreen;
    width: 50%;
    height: 50%;
}